* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'ProximaNova';
}

.container {
  display : flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 5%;
  padding: 10px;
  /* Center content horizontally but without margins */
  margin-left: auto;
  margin-right: auto;

}

.container .description{
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  width: 100%;
  margin-bottom: 5%;
}
.container .description a {
  /* no underline, but add bold and italic */
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
/* on hover, change the color to red SOFTLY */
.container .description a:hover {
  color: red;
  transition: color 0.3s;
}

/* Make a logos section with 2 logos separated by a vertical line */

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logos .vertical-line {
  width: 1px;
  height: 60px;
  background-color: #000;
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: left;
}

  /* Contact Form */

.contact-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  text-align: center;
}

.people-title {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
  margin-top: 200px;
}

.people {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; /* Distribute space evenly between items */
  flex-wrap: wrap; /* Allow items to wrap to the next line if they don't fit */
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  margin-bottom: 50px;
}

.person .photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.person .photo img {
  max-height: 300px;
  height: auto;
  border-radius: 50%;
}

.person .name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.person .description {
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 200px;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #f5f5f5;
  resize: none;
  font-size: 18px;
  font-family: 'ProximaNova';
  font-weight: lighter
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

button {
  display: none;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.alert.show {
  opacity: 1;
  visibility: visible;
}

.alert.show.animation {
  animation: fadeOut 2s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 480px) {

  .container {
    width: 80%;
    margin-left: 10%;
    margin-right: 0;
    padding: 0;
  }

  .container .description{
    font-size: 14px;
  }

  .contact-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
  }

  textarea {
    font-size: 16px;
  }

  .alert {
    font-size: 12px;
  }
  .title {
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: left;
  }
}