* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'ProximaNova';
}

.container {
  display : flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 10%;
  padding: 10px;
  /* Center content horizontally but without margins */
  margin-left: auto;
  margin-right: auto;

}

.container .description{
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  width: 100%;
}
.container .description a {
  /* no underline, but add bold and italic */
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
/* on hover, change the color to red SOFTLY */
.container .description a:hover {
  color: red;
  transition: color 0.3s;
}

.title {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: left;
}

/* Tarot Deck */


.tarot-deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  margin-bottom: 100px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.tarot-card {
  height: 360px;
  width: 240px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.3s, background-color 0.5s; 
  padding: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.tarot-card img {
  max-width: 100%;
  max-height: 100%;
  transition: opacity 0.5s; /* Add a smooth transition for opacity change */
  opacity: 1;

}

.tarot-card .recto,
.tarot-card .verso {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
}

.tarot-card .verso {
  opacity: 0; /* Hidden by default */
}

/* Show the verso (back) image when the card is clicked */
.tarot-card.clicked .verso {
  opacity: 1;
}
.tarot-card.clicked .recto {
  opacity: 0;
}

.tarot-card:hover {
  transform: scale(1.05) translateZ(0);
}


  /* Contact Form */

.contact-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 200px;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #f5f5f5;
  resize: none;
  font-size: 18px;
  font-family: 'ProximaNova';
  font-weight: lighter
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

button {
  display: none;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.alert.show {
  opacity: 1;
  visibility: visible;
}

.alert.show.animation {
  animation: fadeOut 2s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 480px) {

  .container {
    width: 80%;
    margin-left: 10%;
    margin-right: 0;
    padding: 0;
  }

  .container .description{
    font-size: 14px;
  }
  .tarot-deck {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    margin-bottom: 50px;
    gap: 0px;
  }

  .tarot-card {
    width: 30vw;
    height: calc(3/2 * 30vw);
    padding: 0;
    margin-top: 10px;
  }

  .contact-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
  }

  textarea {
    font-size: 16px;
  }

  .alert {
    font-size: 12px;
  }
  .title {
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: left;
  }
}